body {
    font-family: Arial, sans-serif;
}

#navigation {
    margin: 20px;
    text-align: center;
}

#navigation button {
    padding: 10px 20px;
    margin: 5px;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

#tooltip {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    font-size: 12px;
    font-family: Arial;
    display: none;
}
